<phpunit
        colors="true"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.0/phpunit.xsd"
        bootstrap="bootstrap/init.php"
        extensionsDirectory="tools/phpunit.d">

    <testsuites>
        <testsuite name="DataCooker Test Suites">
            <directory>../test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../test</directory>
        </whitelist>
    </filter>
</phpunit>